.intro {
  height: 568px;
  background: url("../img/avr_bg_mobile@1x.png") no-repeat center;
}

.promo-content {
  padding-top: 280px;
}

.promo-content__header {
  font-family: "Rubik Medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 25px;
}

.promo-content__text {
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 35px
}

.promo-content__link {
  font-family: "Rubik Medium", "Arial", sans-serif;
  font-weight: 500;
  display: block;
  color: #ffffff;
  padding: 8px 14px;
  width: 134px;
  background-color: #EFB509;
  border-radius: 15px;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .intro {
    height: 542px;
    background: url("../img/avr_bg_tablet@1x.png") no-repeat center;
  }

  .promo-content {
    padding-top: 200px;
    max-width: 330px;
  }

  .promo-content__header {
    font-family: "Rubik Medium", "Arial", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 18px;
  }

  .promo-content__text {
    margin: 0 0 25px;
  }

  .promo-content__link {
    padding: 8px 22px;
    width: 168px;
  }
}

@media (min-width: 1024px) {
  .intro {
    height: 800px;
    background: url("../img/header-bg.jpg") no-repeat center;
  }

  .promo-content {
    padding-top: 218px;
    max-width: 510px;
}

  .promo-content__header {
    font-size: 56px;
    line-height: 66px;
    margin: 0 0 30px;
    color: #ffffff;
  }

  .promo-content__text {
    font-size: 20px;
    line-height: 36px;
    margin: 0 0 65px;
  }

  .promo-content__link {
    width: 248px;
    padding: 23px 42px;
    border-radius: 45px;
  }
}
