html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* rubik-regular - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: url("../fonts/rubik-v11-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/rubik-v11-latin_cyrillic-regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

/* rubik-500 - latin_cyrillic */
@font-face {
  font-family: "Rubik Medium";
  font-weight: 500;
  src: url("../fonts/rubik-v11-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/rubik-v11-latin_cyrillic-500.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

/* rubik-700 - latin_cyrillic */
@font-face {
  font-family: "Rubik Bold";
  font-weight: 700;
  src: url("../fonts/rubik-v11-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/rubik-v11-latin_cyrillic-700.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@import "variables.scss";
@import "mixins.scss";
@import "blocks/header.scss";
@import "blocks/intro.scss";
@import "blocks/advantages.scss";
@import "blocks/catalog.scss";
@import "blocks/service.scss";
@import "blocks/about.scss";
@import "blocks/modal.scss";
@import "blocks/footer.scss";

.page {
  margin: 0;
  font-family: $font-regular;
  font-size: 14px;
  line-height: 1.2;
  color: $lite-grey;
}

.page-container {
  margin: 0 auto;
  min-width: $mobile-width;
  width: 100%;
}

.container {
  max-width: $desktop-width;
  min-width: $mobile-width;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.site-list {
  list-style: none;
  padding: 0;
}

a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

.button {
  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
}

.main-button {
  border: none;
  background-color: $blue;
  font-size: 12px;
  font-family: $font-semibold;
  min-width: 140px;
  padding: 10px;
  color: $white;
  white-space: nowrap;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;

  &:focus,
  &:active,
  &:hover {
    background-color: #2860a3;
    color: $white;
  }
  &:disabled {
    opacity: 0.6;
  }
}

.main-title {
  font-size: 16px;
  font-family: $font-bold;
  color: $dark-blue;
  margin: 0;
}

@media (min-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  a.anchor {
    top: -80px;
  }

  .main-title {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .page {
    font-size: 20px;
  }

  .container {
    padding-left: 80px;
    padding-right: 80px;
  }

  a.anchor {
    top: -115px;
  }

  .main-button {
    font-size: 20px;
    min-width: 170px;
    padding: 20px;
  }

  .main-title {
    font-size: 52px;
  }
}
