// Fonts

$font-regular: "Rubik", Arial, sans-serif;
$font-semibold: "Rubik Medium", Arial Bold, sans-serif;
$font-bold: "Rubik Bold", Arial Bold, sans-serif;

// Color

$white: #ffffff;
$black: #000000;
$lite-grey: #929292;
$grey: #F8F8F8;
$blue: #3680DB;
$dark-blue: #2D3845;

// Breakpoints

$mobile-width: 320px;
$desktop-width: 1920px;

// Media

$retina-dppx: 1.5dppx;
